
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />

    <title>Chat GPT Speech To text</title>

    <link rel="stylesheet" href="~/css/tem.css" />
</head>

<body>
    <h1>Speech To Text</h1>
    <p>Press the button then say.</p>

    <button>Start new Chat</button>

    <div>
       
        <p class="result">Right or wrong?</p>
        <p class="output">...diagnostic messages</p>
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>

